<style>
    .body {
        margin: 50px 0 100px 0;
    }

    .title {
        text-align: center;
    }
</style>

<div class="body">
    <h2 class="title">GIỎ HÀNG CỦA TÔI</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    Chưa có sản phảm nào
                </td>
            </tr>
        </tbody>
    </table>
</div>